  
  .container {
    overflow: hidden;
    .slider {
      animation: slidein 30s linear infinite;
      white-space: nowrap;
      display: inline-block;
      text-align: center;
      .logos {
        width: 100%;
        display: inline-block;
        margin: 0px 100px;
        .fab {
          width: calc(100% / 5);
          animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            width: 15%;
            margin: 0px 30px;
        }
      }
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }