.scroller {
    width: 100%;
    margin-bottom: 70px;
    overflow: hidden;
  }
  
  .scroller__inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    width: max-content;
    animation: scroll var(--_animation-duration, 40s) ease-in-out infinite;
  }
  
  .scroller__inner img {
    width: 150px;
    height: 80px;
    cursor: pointer;
  }
  
  .scroller[data-animated="true"] {
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .Box {
    width: 10%;
    height: 150px;
    background-color: rgb(149, 145, 145);
    clip-path: polygon(0 4%, 95% 10%, 100% 100%, 0 100%);
    border-radius: 10px;
    border-top-left-radius: 25.5px;
    border-top-right-radius: 45px;
  }
  
  #Box1 {
    background-color: #004F41;
  }
  
  .img {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    margin-right: 100px;
  }
  