.mercados{
    padding-bottom: 100px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: var(--vermelho);
    color: #fff;
    border-radius: 10px;
    padding: 100px;
    clip-path: polygon(0 38%, 100% 38%, 96% 70%, 6% 71%);
}

.title h2{
    color: #fff;
    margin-top: 27px;
    font-size: 1.8rem;
}

.container_mercados{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

