.categoria_produto{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.title h2{
    font-weight: 500;
    font-size: 1.4rem;
}

.filtro{
    display: flex;
    align-items: center;
    gap: 10px;
}

.categoria{
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel_prod{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth; /*Deixa a rolagem suave*/
}

#arrow{
    color: var(--azul);
    font-size: 2rem;
    cursor: pointer;
}

.filtro_atual{
   color: var(--azul);
}

.carousel_prod::-webkit-scrollbar{ /*Esconde rolagem*/
    display: none;
}

.background{
    background-color: var(--background);
}

.btn_carousel{
    background-color: transparent;
    border: none;
}


.btn_carousel{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 0.5px solid #00000043;
    top: 260px;
    position: absolute;
    font-size: 1.9rem;
    cursor: pointer;
    opacity: 80%;
    color: var(--vermelho);
    transition: 0.5s all;
}

.btn_carousel:hover{
    background-color: #f0f0f0;
}

#left{
    left: -55px;
}

#right{
    right: -55px;
}

.btn_show_more{
    padding: 15px 20px;
    color: var(--azul);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--azul);
    cursor: pointer;
    transition: 0.5s all;
}

.btn_show_more:hover{
    background-color: var(--azul);
    color: #fff;
}

.cardproduto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    min-width: 290px;
    border-radius: 10px;
    background-color: #fff;
    border: 0.5px solid #00000021;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    padding: 10px;
    
}

.container_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imgprod{
    height: 230px;
    transition: 0.5s all
}

.imgprod:hover{
    transform: translateY(-5px);
}

.info_prod{
    display: flex;
    flex-direction: column;
}

.valores{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco{
    font-size: 2rem;
    font-weight: 700;
}

.desconto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60px;
    color: #fff;
    font-weight: 600;
    background-color: var(--vermelho);
    border-radius: 5px;
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 90%);
}

.btn{
    width: 100%;
    border: none;
    background-color: var(--btn);
    color: #fff;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all;
}

.btn:hover{
    background-color: var(--btn_hover);
}



@media screen and (max-width: 1870px) {
    #left{
        left: 0px;
    }

    #right{
        right: 0px;
    }
}

