.container_card{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.mercadosRegiao{
    margin-top: 50px;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 100;
}

.title h2{
    font-weight: 500;
}