.card_mercado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: center;
    height:380px;
    width: 390px;
    background-color: #C6DC8D;
    border-radius: 20px;
    /* clip-path: polygon(0 9%, 100% 9%, 100% 87%, 14% 86%); */
}

.logo_mercado{
    height: 100px;
}

.btn{
    border: none;
    height: 50px;
    padding: 0px 30px;
    background-color: var(--vermelho);
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
}