
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(84, 197, 84);
    padding: 10px 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.4s all;
}




.btn:hover{
    transform: translateY(-3px);
    background-color:  rgb(70, 167, 70);
    transition: all 0.4s;
}
