.missao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagem_missao{
    width: 400px;
    height: 400px;
    
}

.texto_missao{
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 400px;
    margin-left: 30px;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0 89%);
    border-radius: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);

    .text{
        font-size: 1.6rem;
        text-align: center;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    
}

.titulo_missao{
    background-color: #343BCC;
    width: 600px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;

    h1{
        text-align: center;
        padding-top: 40px;
        padding-right: 20px;
        font-size: 2.5rem;
        color: white;
    }
}

.word{
    color: #343BCC;
}

/* Responsivo celular */
@media screen and (max-width: 925px) {

   

   .imagem_missao{
    display: none;
   }

   .texto_missao{
    height: 350px;
    width: 100%;
    margin-left: -5px;

        .text{
            font-size: 1.2rem;
        }
   }

   .titulo_missao{
    width: 100%;

        h1{
            font-size: 2rem;
        }
   }
}
