.team{
    margin-top: 30px;
}


.title_team{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: var(--vermelho);
    color: #fff;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 94% 96%, 6% 95%);
    padding: 20px 40px;
    margin: 70px 50px;
}

.pics{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 80%;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 150px;
}


.square{
    background-color: rgb(255, 255, 255);
    width: 290px;
    height: 350px;
    border-radius: 38px;
    margin-top: 60px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.267);
}

.image{
    width: 200px;
    height: 200px;
    margin-left: 45px;
    position: absolute;
    top: 133rem;
}

.luane{
    width: 270px;
    height: 270px;
    margin-left: -35px;
}

.image1{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    position: absolute;
    top: 161.2rem;
}

.image2{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    position: absolute;
    top: 189.2rem;
}

.name{
    width: 250px;
    height: 100px;
    margin-top: 210px;
    text-align: center;
    margin-left: 15px;
}

.title{
    font-size: 25px;
}