.prod_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px;
    border-bottom: 0.5px solid #00000021;

}

.prod_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prod_price span {
    font-size: 1.3rem;
    font-weight: 500;
}

.container_qtd {
    display: flex;
    justify-content: center;
    width: 100%;
}

.prod_qtd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 0.5px solid #00000021;
}

.btn_qtd {
    width: 40px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--vermelho);
    cursor: pointer;
    font-weight: 600;
}

#trash {
    color: var(--vermelho);
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0 auto;
}


/* Mobile responsive */

@media screen and (max-width: 925px) {

    .table_titles {
        display: none;
    }
    
    
    .item {
        border-top: 5px solid black;
    }
    
    .item td {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: none;
    }
}

/* Tablet responsive */

@media screen and (min-width : 926px) {

    @media screen and (max-width: 1300px) {


}
}