.mercados_regiao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container_carousel{
    position: relative;
}

.carousel_prod{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth; /*Deixa a rolagem suave*/
}

.carousel_prod::-webkit-scrollbar{ /*Esconde rolagem*/
    display: none;
}

.background{
    background-color: var(--background);
}


.btn_carousel{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 0.5px solid #00000043;
    top: 100px;
    position: absolute;
    font-size: 1.9rem;
    cursor: pointer;
    opacity: 80%;
    color: var(--vermelho);
    transition: 0.5s all;
}

.btn_carousel:hover{
    background-color: #f0f0f0;
}

#left{
    left: -55px;
}

#right{
    right: -55px;
}

.mercadosRegiao{
    margin-top: 30px;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 100;
    width: 100%;
    margin-top: 20px;
}

.title h2{
    font-weight: 500;
    font-size: 1.4rem;
}

