.prod_list {
    display: flex;
    flex-direction: column;
padding: 200px 10px 10px 0px;}


.header_filter {
    width: 100%;
    margin-bottom: 30px;
}

.container_prod {
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.cardproduto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    min-width: 290px;
    border-radius: 10px;
    background-color: #fff;
    border: 0.5px solid #00000021;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    padding: 10px;
    
}

.container_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imgprod{
    height: 230px;
    transition: 0.5s all
}

.imgprod:hover{
    transform: translateY(-5px);
}

.info_prod{
    display: flex;
    flex-direction: column;
}

.valores{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco{
    font-size: 2rem;
    font-weight: 700;
}

.desconto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60px;
    color: #fff;
    font-weight: 600;
    background-color: var(--vermelho);
    border-radius: 5px;
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 90%);
}

.btn{
    width: 100%;
    border: none;
    background-color: var(--btn);
    color: #fff;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all;
}

.btn:hover{
    background-color: var(--btn_hover);
}

.carousel_prod{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth; /*Deixa a rolagem suave*/
}