.prod_list {
    display: flex;
    flex-direction: column;
padding: 200px 10px 10px 0px;}


.header_filter {
    width: 100%;
}

.container_prod {
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}