.Background {
    height: auto;
    width: 100%;
    background-color: var(--background);
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.BoxUp {
    height: 50%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.BackgroundText {
    font-size: 2rem;
    color: #f1f1f1;
    background-color: var(--azul);
    height: 80px;
    width: 30%;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 94% 96%, 6% 95%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Conteiner {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5;
    flex-wrap: wrap;
    margin-top: 5%;
}
.Box {
    position: relative;
    width: 450px;
    height: 600px;
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-family: offer;
    margin-bottom: 100px;

}
.BoxRed {
    width: 100%;
    height: 60%;
    background-color: var(--vermelho);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    clip-path: polygon(0 29%, 100% 29%, 100% 59%, 49% 68%, 0 59%);
    margin-top: -35%;
    color: white;
    text-align: center;
}
.Txth1 {
    margin-top: -5%;
}
.Txt2 {
    color: black;
    font-size: 3rem;
    text-align: center;
    margin-top: -24%;
}
.Valor {
    font-size: 7rem;
    color: var(--vermelho);
    text-align: center;
}
.Btn {
    margin: auto;
    background-color: var(--azul);
    text-decoration: none;
    border: none;
    width: 300px;
    height: 8%;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s all;
}
.BtnLK {
    color: white;
}
.Btn:hover {
    transform: translateY(-3px);
    background-color: #395191;
    transition: all 0.4s;
}
.Cifrao {
    font-size: 2rem;
}
.Beneficios {
    font-size: 1.2rem;
    margin-top: 5%;
    font-family: Poppins;
    letter-spacing: 1px;
}
.Cents{
    position: absolute;
    font-size: 2.5rem;
}
.Img {
    position: absolute;
    bottom: -75px;
    right: -75px;
}
.ImgBlue {
    position: absolute;
    top: -120px;
    left: -68px;
}

.BtnLK{
    color: #FFF;
}
@media screen and (min-width: 1000) {
    .Conteiner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center
        
    }
}
@media (Max-width:1190px) {
    .BackgroundText {
        width: 300px;
        font-size: 1.2rem;
        height: 80px;
    }
    .Box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Valor{
        font-size: 4rem;
    }
    .Beneficios {
        font-size: 1.1rem;
        margin-left: 8%;
    }
    .Btn {
        font-size: 1.5rem;
        width: 65%;
    }
}

@media (Max-width:500px) {
    .Btn {
        font-size: 1rem;
        width: 65%;
        height: 50px;
        margin-bottom: 2%;
    }
    .ImgBlue {
        top: -70px;
    }
}