.Background {
    height: auto;
    width: 100%;
    background-color: var(--background);
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.BoxUp {
    height: 50%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.BackgroundText {
    font-size: 2.5rem;
    color: #f1f1f1;
    background-color: var(--azul);
    height: 100px;
    width: 30%;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 94% 96%, 6% 95%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Conteiner {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5;
    flex-wrap: wrap;
    margin-top: 5%;
}
.Box {
    width: 30%;
    height: 700px;
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 2.7rem;
    letter-spacing: 8px;
    font-family: offer;

}
.BoxRed {
    width: 100%;
    height: 60%;
    background-color: var(--vermelho);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    clip-path: polygon(0 34%, 100% 35%, 100% 55%, 48% 69%, 0 54%);
    margin-top: -35%;
    color: white;
}
.Txt2 {
    color: black;
    font-size: 3rem;
    text-align: center;
    margin-top: -24%;
}
.Valor {
    font-size: 7rem;
    color: var(--vermelho);
    text-align: center;
}
.Btn {
    margin: auto;
    background-color: var(--azul);
    text-decoration: none;
    border: none;
    width: 70%;
    height: 10%;
    font-size: 1.8rem;
    color: white;
    border-radius: 10px;
}
.Cifrao {
    font-size: 2rem;
}
.Beneficios {
    font-size: 1.3rem;
    margin-top: 5%;
}
