.informacao{
    background-image:url('/src/assets/img/fundo\ mercado.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
}

.container_password{
    background-color: white;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 150px 0px 150px 0px;
}