/* Fundo da página */
.password {
	width: 100%;
	background-image: url('/src/assets/img/fundo\ mercado.png');
	padding: 300px 0px 150px 0px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Corpo do forms */
.container_password {
    background-color: white;
	width: 650px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 10px;
}

h2 {
	font-size: 40px;
	padding-top: 40px;
}

a {
	padding-top: 15px;
	font-size: 20px;
}

.forms_recover {
	width: 100%;
	height: 700px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

label {
	text-align: left;
}

.forms_password {
    display: flex;
	flex-direction: column;

	padding-top: 40px;
	gap: 20px;	
	height: 500px;
	width: 90%;
}

.forms_password input{
    width: 100%;
	height: 55px;

	border: 0.2px solid grey;
	border-radius: 10px;
	padding: 10px;
}

.forms_recover button {
    margin-top: 15px;

	height: 50px;
	background-color: red;
	color: white;

	font-size: 22px;
	font-weight: bold;

	border-radius:  10px;
	border:  0px solid ;
}

.privacy_policy {
    text-align: center;
	width:  100%;
}

.recover_password {
    padding-left: 10%;
    width: 90%;
}

.email{
	font-size: 20px;
}