.Background {
    height: 100%;
    width: 100%;
    background-color: var(--background);
    margin: auto;
    display: flex;
    flex-direction: column;
}
.BoxTitle {
    height: 150px;
    width: 100%;
    background-image: url('../../../assets/img/Group.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: offer;
    letter-spacing: 5px;
}
.Title {
    margin-bottom: 30px;
    font-size: 2.5rem;
}
.Conteiner {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Inovacao {
    position: relative;
    height: 90%;
    width: 40%;
    background-color: white;
    clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
    border-radius: 10px;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: 7px 15px 14px 8px rgba(0,0,0,0.1);
}
.TitleInovacao {
    clip-path: polygon(0 0, 100% 0, 100% 29%, 0 26%);
    height: 100%;
    width: 100%;
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    font-family: offer;
    letter-spacing: 5px;
    
}
.TitleInovacao h1 {
    margin-top: 7%;
    font-size: 2.5rem;
    color: white;
    font-family: offer;
    letter-spacing: 5px
}
.Text{
    font-size: 1.5rem;
    text-align: center;
}
.Boxtext {
    margin-top: -45%;
    width: 60%;
    margin-left: 20%;
}
.Difere {
    color: var(--vermelho);
}
.BoxRight {
    height: 100%;
    width: 30%;
    margin-left: 10%;
}
.ImgSacola {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.img {
    width: 90%;
    height: 100%;
}
.App {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.BoxLeft {
    height: 100%;
    width: 50%;
}
.Boximages {
    position: relative;
    height: 50%;
    width: 50%;
    margin-left: 15%;
}
.Boximages img {
    position: absolute;
    width: 200%;
    height: 220%;
    z-index: 1;
    margin-top: -10%;
    
}
.BoxRight {
    height: 100%;
    width: 50%;
}
.Boxtitle {
    margin-top: 8%;
    height: 150px;
    width: 130%;
    background-color: var(--amarelo);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 93%);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: -60%;
    font-family: offer;
    letter-spacing: 5px
}
.BoxtextApp {
    width: 75%;
    font-size: 1.5rem;
    margin-left: -15%;
}
.Crm {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
}
.left {
    height: 100%;
    width: 50%;
}
.Backtitle {
    margin-top: 8%;
    height: 150px;
    width: 100%;
    background-color: var(--vermelho);
    margin-left: 17.3%;
    clip-path: polygon(0 0, 100% 9%, 100% 91%, 0 100%);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: offer;
    letter-spacing: 5px
}
.Backtxt {
    height: 50%;
    width: 65%;
    margin-left: 30%;
    font-size: 1.5rem;
    margin-top: 2%;
}
.right {
    height: 100%;
    width: 50%;
}
.Boximage {
    height: 90%;
    width: 90%;
}
.Boximage img {
    height: 100%;
    width: 100%;
}
.ServicoEntrega {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
}
.BoxTitlEntrega {
    margin-top: 8%;
    height: 150px;
    width: 85%;
    background-color: var(--azul);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 93%);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5%;
    font-family: offer;
    letter-spacing: 5px;
}
.BoxIMG {
    height: 100%;
    width: 100%;
    margin-left: 13.5%;
}
.BoxIMG img {
    height: 100%;
    width: 100%;
}
.Backtxtentrega {
    height: 50%;
    width: 60%;
    margin-left: 20%;
    font-size: 1.5rem;
    margin-top: 2%;
}

/* Responsivo celular */
@media screen and (max-width: 925px) {
    .Title{
        font-size: 1.4rem;
        letter-spacing: 1px;
        margin-top: 12px;
        margin-right: 10px;
    }

    .BoxTitle{
        margin-top: -100px;
    }

    /* começo do quadrado de inovação*/    
    .TitleInovacao h1{
        font-size: 3rem;
    }

    .Boxtext{
        margin-top: -220px;
        width: 90%;
        margin-left: 15px;
    }

    .Text{
        font-size: 1.3rem;
    }
    .Inovacao{
        width: 100%;
        height: 380px;
    }

    /* final do quadrado de inovação*/   

    /* começo plano de celular*/

    .Boximages img{
        height: 300px;
        width: 320px;
        margin-left: 5px;
    }

    .BoxLeft{
        height: 100px;
    }

    .BoxRight{
        margin-top: 320px;
        width: 100%;
    }

    .Boxtitle{
       display: none;
    }

    .BoxtextApp{
        font-size: 1.3rem;
        width: 100%;
       margin-right: 130px;
       text-align: center;
    }

    /* final plano de celular*/

     /* começo plano de crm*/

     .Backtitle{
        display: none;
     }

     .Boximage{
        height: 200px;
        width: 300px;
        position: absolute;
        z-index: 1;
        left: 40px;
        top: 410rem;
     }

     .Backtxt{
        font-size: 1.3rem;
        margin-top: 300px;
        width: 100%;
        text-align: center;
        margin-right: 80px;
        
     }

     .left{
        width: 100%;
        margin-left: -40px;
     }

     /* final plano de crm*/

     /* começo plano de entrega*/

     .BoxIMG{
        height: 200px;
        margin-left: 40px;
        position: absolute;
        width: 300px;
     }

     .BoxTitlEntrega{
        display: none;
     }

     .Backtxtentrega{
        margin-top: 220px;
        padding-bottom: 200px;
        font-size: 1.3rem;
        text-align: center;
        width: 300px;
        margin-left: 30px;
     }

      /* final plano de entrega*/ 
 }

 /* Responsivo celular */
@media screen and (max-width: 674px) {

  }
 
 
 
/*Responsivo tablet*/ 
 @media screen and (max-width : 724px) {
    .Boximages img{
        height: 280px;
        width: 280px;
        margin-left: 5px;
    }


    .BoxRight{
        margin-top: 250px;
        width: 100%;
    }


    .BoxtextApp{
        font-size: 1rem;
        width: 80%;
       text-align: center;
       margin-top: -150px;
       margin-left: 30px;
    }

    /* começo plano de crm*/

     .Boximage{
        height: 190px;
        width: 270px;
        position: absolute;
        z-index: 1;
        left: -5px;
        top: 390rem;
     }

     .Backtxt{
        font-size: 1rem;
        margin-top: -150px;
        margin-left: 250px;
        width: 60%;
        text-align: center;
        
     }

     /* começo plano de entrega*/

     .BoxIMG{
        height: 180px;
        margin-left: 10px;
        position: absolute;
        width: 250px;
        top: 405rem;
     }


     .Backtxtentrega{
        margin-top: -410px;
        font-size: 1rem;
        text-align: center;
        width: 50%;
        margin-left: 250px;
     }

    
 }
 
 @media screen and (max-width : 1169px) {
     @media screen and (min-width: 820px) {
 
     }
 }
 
 /*Responsivo notebook*/
 @media screen and (max-width : 1356px) {
     @media screen and (min-width: 1170px) {
 
     }
 }