.Background {
    height: 100%;
    width: 100%;
    background-color: var(--background);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.Text1 {
    display: none;
    margin-top: -55%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20%;
}

.BoxTitle {
    height: 150px;
    width: 100%;
    background-image: url('../../../assets/img/Group.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: offer;
    letter-spacing: 5px;
}

.Title {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.Conteiner {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inovacao {
    height: 90%;
    width: 40%;
    background-color: white;
    clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
    border-radius: 10px;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: 7px 15px 14px 8px rgba(0, 0, 0, 0.1);
}

.TitleInovacao {
    clip-path: polygon(0 0, 100% 0, 100% 29%, 0 26%);
    height: 100%;
    width: 100%;
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    font-family: offer;
    letter-spacing: 5px;

}

.TitleInovacao h1 {
    margin-top: 7%;
    font-size: 2.5rem;
    color: white;
    font-family: offer;
    letter-spacing: 5px
}


.Boxtext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text {
    margin-top: -55%;
    font-size: 1.5rem;
    text-align: center;
    max-width: 70%;
}

.Difere {
    color: var(--vermelho);
}

.BoxRight {
    height: 100%;
    width: 30%;
    margin-left: 10%;
}

.ImgSacola {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.img {
    width: 90%;
    height: 100%;
}

.App {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.cellphone {
    width: 80%;
    height: 100%;
    margin-top: -10%;
    margin-left: 20%;
}

.BoxRight {
    height: 100%;
    width: 50%;
}

.Boxtitle {
    margin-top: 8%;
    height: 150px;
    width: 100%;
    background-color: var(--amarelo);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 93%);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: -15%;
    font-family: offer;
    letter-spacing: 5px
}

.BoxtextApp {
    width: 85%;
    font-size: 1.5rem;
}

.Crm {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
}

.Backtitle {
    margin-top: 8%;
    height: 150px;
    width: 90%;
    background-color: var(--vermelho);
    margin-left: 17.3%;
    clip-path: polygon(0 0, 100% 9%, 100% 91%, 0 100%);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: offer;
    letter-spacing: 5px
}

.ptext1 {
    height: 50%;
    width: 65%;
    margin-left: 30%;
    font-size: 1.5rem;
    margin-top: 2%;
}

.laptop {
    height: 100%;
    width: 100%;
}

.ServicoEntrega {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
}

.BoxTitlEntrega {
    margin-top: 8%;
    height: 150px;
    width: 80%;
    background-color: var(--azul);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 93%);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5%;
    font-family: offer;
    letter-spacing: 5px;
}



.ifood {
    height: 100%;
    width: 100%;
    margin-left: 60px;
}

.Backtxtentrega {
    height: 50%;
    width: 60%;
    margin-left: 15%;
    font-size: 1.5rem;
    margin-top: 2%;
}

/*------------------------------ Responsivo notebook ----------------------------*/

@media screen and (max-width: 1300px) {
    .Title {
        font-size: 3rem;
    }
    .TitleInovacao h1 {
        font-size: 2rem;
        margin-top: 14%;
    }

    .Boxtitle h1 {
        font-size: 2rem;
    }

    .Boxtitle {
        width: 110%;
        margin-left: -20%;
    }

    .Backtitle {
        width: 110%;
    }

    .Backtitle h1 {
        font-size: 1.8rem;
    }

    .BoxTitlEntrega h1 {
        font-size: 1.8rem;
    }

    .BoxtextApp {
        width: 80%;
    }
    
    .ptext {
        margin-left: -10%;
        text-align: center;
        width: 100%;
    }

    .ptext1 {
        margin-left: 40%;
        text-align: center;
        width: 80%;
    }
}
@media screen and (max-width: 1200px) {
    .Title {
        font-size: 2rem;
    }

    .Boxtitle h1 {
        font-size: 1.8rem;
    }

    .Boxtitle {
        width: 140%;
        margin-left: -40%;
    }

    .Backtitle {
        width: 140%;
        margin-left: 2%;
    }

    .Backtitle h1 {
        font-size: 1.5rem;
    }

    .BoxTitlEntrega {
        margin-left: 12%;
    }

    .BoxTitlEntrega h1 {
        font-size: 1.5rem;
    }

    .BoxtextApp {
        width: 100%;
        font-size: 1.2rem;
    }

    .Text {
        font-size: 1.2rem;
        margin-bottom: 20%;
    }
    
    .ptext {
        margin-left: -10%;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
    }

    .ptext1 {
        margin-left: 40%;
        text-align: center;
        width: 80%;
        font-size: 1.2rem;
    }
    .ptext2 {
        margin-left: 10%;
        text-align: center;
        width: 90%;
        font-size: 1.2rem;
    }
    .Backtxtentrega {
        font-size: 1.2rem;
    }
    .BoxIMG {
        width: 100%;
        height: 70%;
        margin-top: 2%;
    }
    .BackImgLaptop {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .laptop {
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 1110px) {
    .Title {
        font-size: 1.8rem;
    }

    .Text {
        font-size: 1.2rem;
        margin-top: -80%;
    }
}

/* Responsivo celular */
@media screen and (max-width: 625px) {
    .Conteiner {
        width: 100%;
    }

    .Inovacao {
        width: 100%;
    }

    .Title {
        font-size: 1.3rem;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-right: 20px;
    }

    .TitleInovacao h1 {
        font-size: 3rem;
    }

    .Text {
        font-size: 1.2rem;
        margin-top: -50px;
        max-width: 80%;
    }

    .Boxtext {
        margin-top: -45%;
    }

    .Inovacao {
        height: 70%;
    }

    /*aplicativo*/
    .Text2 {
        display: none;
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Text1 {
        display: block;
    }

    .Inovacao {
        display: none;
    }

    .Text2 {
        display: block;
    }

    .App {
        flex-direction: column;
    }

    .cellphone {
        width: 80%;
        height: 100%;
        margin-left: 15%;

    }

    .Boxtitle {
        display: none;
    }

    .ptext {
        font-size: 1rem;
        max-width: 80%;
        text-align: center;
    }

    .BoxtextApp {
        width: 100%;
        font-size: 1rem;
    }

    .BoxRight {
        width: 100%;
    }

    /*final app*/

    /* crm*/


    .Backtitle {
        display: none;
    }

    .Crm {
        flex-direction: column-reverse;
    }

    .ptext1 {
        font-size: 1rem;
        max-width: 80%;
        text-align: center;
        margin-left: 15%;
    }

    .left {
        width: 100%;
    }

    /*final crm */

    /*entrega*/
    .BoxTitlEntrega {
        display: none;
    }

    .ptext2 {
        font-size: 1rem;
        max-width: 80%;
        text-align: center;
        margin-left: -5%;
    }

    .ifood {
        width: 70%;
    }

    .ServicoEntrega {
        flex-direction: column;
    }

    .Backtxtentrega {
        width: 100%;
    }

    /*final entrags*/
}

/* Responsivo celular */




/*Responsivo tablet*/
@media screen and (max-width : 926px) and (min-width: 926) {}

@media screen and (max-width : 1169px) {
    @media screen and (min-width: 820px) {}
}

/*Responsivo notebook*/
@media screen and (max-width : 1356px) {
    @media screen and (min-width: 1170px) {}
}