.container_promotion{
    display: flex;
    flex-direction: column;
    position: relative;
}

.carousel_prod{
    margin-top: 30px;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth; /*Deixa a rolagem suave*/
}

.carousel_prod::-webkit-scrollbar{ /*Esconde rolagem*/
    display: none;
}

.background{
    background-color: var(--background);
}

.btn_carousel{
    background-color: transparent;
    border: none;
}

.btn_carousel i{
    top: 560px;
    position: absolute;
    font-size: 5rem;
    cursor: pointer;
    opacity: 80%;
    color: var(--vermelho);
}

#left{
    left: -60px;
}

#right{
    
    right: -60px;
}