.Background {
    height: auto;
    width: 100%;
    background-color: var(--background);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.BoxUp {
    height: 50%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.BackgroundText {
    font-size: 2rem;
    color: #f1f1f1;
    background-color: var(--azul);
    height: 50%;
    width: 30%;
    text-align: center;
}
.Conteiner {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5;
    flex-wrap: wrap;
}
.Box {
    width: 30%;
    height: 400px;
    background-color: var(--amarelo);
}
.BoxRed {
    width: 100%;
    height: 10%;
    background-color: var(--vermelho);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.Txt2 {
    color: black;
    font-size: 2rem;
    text-align: center;
}
.Valor {
    font-size: 4rem;
    color: var(--vermelho);
    text-align: center;
}
.Btn {
    margin: auto;
    background-color: var(--azul);
    text-decoration: none;
    border: none;
}
