.ContainerForm {
    width: 100%;
    height: 100vh;
    margin: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 30px;
}
.Cicle {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: var(--azul);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.Cicle1 {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    border: 4px solid var(--azul);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--azul);
}
.Divider {
    position: relative;
    height: 10px;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 20px;
}
.Divider1 {
    position: relative;
    height: 10px;
    width: 15%;
    background-color: var(--azul);
    border-radius: 20px;
}
.cabecalho {
    padding-left: 15%;
    width: 100%;
    height: 100%;
}

.cabecalho2{
    padding: 5% 0 0 15%;
    width: 100%;
    height: 100%;   
}

.Subtitle {
    color: rgba(0, 0, 0, 0.466);
}
.attention {
    color: var(--azul);
}
.toSpaceBox {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
.Background {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12%;
    justify-content: space-around;
}
.formBox {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 6px 13px 10px -3px rgba(0,0,0,0.1);
    width: 70%;
    display: flex;
}

.Forms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

}

.toSpaceInput {
    display: flex;
    gap: 50px;
}

.InputBox{
    width: 100%;
}

.InputBox input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: .5rem;
    outline: none;
    border: 0.5px solid rgb(99, 99, 99);
}

.InputBox label{
    font-size: 1rem;
}
.Btn {
    background-color: white;
    width: 70%;
    height: 5rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem ;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 6px 13px 10px -3px rgba(0,0,0,0.1);
}

.Btn :hover{
    border: .5px solid blue;
}

.Btn label{
    cursor: pointer;
    padding: 1rem;
}

.Radio{
    cursor: pointer;
}

.Inputs {
    width: 1000px;
}
.BoxTrial {
    position: relative;
    width: 80%;
    height: 18%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1001px) {
    .formBox {
        flex-direction: column;
        height: 1000px;
        overflow-y: auto;
    }
    .Forms {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
        
    }
    .toSpaceInput {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .Background {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .schemeBox {
        width: 80%;
        height: 50%;
    }
}

@media (max-width: 550px) {
    .Divider {
        visibility: hidden;
    }
    .Divider1 {
        visibility: hidden;
    }
}