.card_prod {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 330px;
    width: 300px;
    background-color: var(--amarelo);
    border-radius: 10px;
    color: var(--vermelho);
}

.prodImg {
    height: 190px;
    margin-left: 20px;
}