.card_prod {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: var(--amarelo);
    border-radius: 10px;
    color: var(--vermelho);
}

.prodImg {
    height: 140px;
    margin-left: 20px;
    width: 200px;
    object-fit: cover;
}