.mercadoCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    padding: 16px;
    height: 240px;
    width: 380px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-bottom: 5px solid var(--vermelho); 
    cursor: pointer;  
}

.container_img{
    width: 100%;
}

.img{
    height: 80px;
    width: 100%;
}

.mercado_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.info{
    display: flex;
    align-items: center;
    gap: 10px;
}

#star{
font-size: 1.5rem;
color: var(--amarelo);
}