.cart_container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.header_cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header_cart a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000a2;
    font-weight: 500;
    transition: 0.5s all;
}

.header_cart a:hover {
    color: var(--azul);
}

.title {
    font-size: 1.7rem;
}



.cart {
    padding-top: 150px;
    width: 100%;
}

.container_cart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 10px;
    margin-top: 20px;
}

/* CSS tabela */

.table_prod {
    width: 100%;
    height: auto;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    border: 0.5px solid #00000021;
}

.table_prod th,
.table_prod td {
    border-bottom: 0.5px solid #00000021;
    padding: 15px;
}

.table_prod td {
    text-align: center;
    align-items: center;
    padding: 15px;

}

.total {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 150px;
    background-color: #fff;
    border: 0.5px solid #00000021;
    border-radius: 10px;
    padding: 15px;
}

.total_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;

}

.price {
    color: var(--btn);
}

.btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--btn);
    cursor: pointer;
    transition: 0.5s all;
}

.btn:hover {
    background-color: var(--btn_hover);

}


@media screen and (max-width: 925px) {

    .container_cart {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cart_container{
        padding-top: 0px;
    }

    
    .cart{
        width: 100%;
        padding-top: 120px;
    }
    .table_prod{
        width: 100%;
    }

    .table_titles{
        display: none;
    }


}

/* Tablet response */

@media screen and (min-width : 926px) {

    @media screen and (max-width: 1300px) {

        .container_cart {
            align-items: center;
            width: 100%;
            padding-top: 0px;
        }
    
        .cart_container{
            padding-top: 0px;
            width: 100%;
        }

        .table_prod{
            width: 100%;
        }

        .cart{
            width: 100%;
            padding-top: 120px;
        }
    }
}