.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--amarelo);
    z-index: 1;

}


.nav_link{
    display: flex;
    gap: 30px;
    list-style: none;
}