.cabecalho {
    position: fixed;
    width: 100%;
    z-index: 2; 
}

.header_up{
    display: flex;
    width: 100%;
    align-items: center;
    height: 90px;
    background-color: var(--amarelo);

}

.header_down{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    height: 50px;
    width: 100%;
}

.container_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.nav_link{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    list-style: none;
}

.nav_link a{
    text-decoration: none;
    color: #4b3c00;
    font-weight: 600;
}

.img_logo{
height: 30px;
}



