.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 50px 70px;
    border-top: 3px solid var(--vermelho);
}

.footer_content {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    flex-wrap: wrap;
}

.logo_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_link {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.footer_item a {
    text-decoration: none;
    color: #6d6d6d;
}

.logo {
    height: 80px;
}

.btn {
    height: 40px;
    padding: 0px 30px;
    border: none;
    color: #fff;
    background-color: var(--vermelho);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}