
.container_tutorial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1600px;
    margin: auto;

}

.container_passos{
    display: flex;
    gap: 5px;
}

.passo_detalhes{
    height: 600px;
    position: relative;
    width: 300px;
}

.passos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 700px;
}

.passo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid var(--azul);
    color: var(--azul);
    font-size: 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.4s all;

}

.passo:hover{
    transform: translateY(-3px);
}


.title{
    font-size: 2.5rem;
}

.desc{
    font-size: 1.6rem;

}

.card_etapa{
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: var(--amarelo);
    border-radius: 10px;
    left: 100px;
}

#etapa_1{
    top: 190px;
    left: -120px;
}

#etapa_2{
    top: 300px;
    left: 100px;
}

/* #etapa_3{
    background-color: red;
} */