.Background {
    margin-top: -200px;
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.BoxLeft {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
    margin-left: 5%;
}
.Title {
    font-family: offer;
    font-size: 3rem;
    letter-spacing: 5px;
}
.Text { 

    color: rgb(0, 0, 0);
    font-size: 1.8rem;
}
.Btn {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--azul);
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 11px 12px 7px -3px rgba(0,0,0,0.1);
    transition: 0.4s all;
}
.Btn:hover {
    transform: translateY(-3px);
    background-color: #3b518e;

    background-color: #3c569c;
    transition: all 0.4s;
}


.BoxRight {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}
.Box {
    width: 48%;
    height: 200px;
    background-color: var(--azul);
    margin-top:  40%;
    
}


#Box1 {
    clip-path:
    polygon(0 8%, 100% 0, 100% 90%, 0 100%);
    border-radius: 8px;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    height: 250px;
}

#Box2 {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    border-radius: 8px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    height: 400px;
}
#Box3 {
    clip-path:
    polygon(0 7%, 100% 0, 100% 93%, 0 100%);
        border-radius: 8px;
        border-top-left-radius: 28px;
        border-bottom-right-radius: 28px;
        height: 400px;
        margin-top: -180px;
        }
        #Box4 {
            clip-path: polygon(0 3%, 100% 10%, 100% 100%, 0 91%);
            border-radius: 8px;
            border-top-right-radius: 28px;
            border-bottom-left-radius: 28px;
            height: 250px;
            margin-top: -35px;
        }

        .img {
            object-fit: cover;
            width: 100%;
            height: 100%;

        }


        /*------------------------------ Responsivo notebook ----------------------------*/


        @media screen and (max-width: 1000px) {
            .Background {
                align-items: center;
                justify-content: center;
            }
            .BoxLeft {
                align-items: center;
                text-align: center;
            }
        }


        /*------------------------------Responsivo Celular --------------------------*/

        @media (Max-width:1190px) {
            .BoxRight {
                display: none;
            }
            .Btn {
                width: 200px;
                height: 80px;
            }
            .BoxLeft {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        