.Background {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.BoxTrail {
    position: relative;
    width: 80%;
    height: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;

}
.BoxTitle {
    position: relative;
    height: 15%;
    width: 100%;
    margin-bottom: 5%;
    padding-left: 6%;
}

.Titlecolor01 {
    color: black;
    font-size: 2rem;
}

.Span {
    color: var(--azul);
}

.Titlecolor02 {
    color: rgba(0, 0, 0, 0.526);
    font-size: 1.5rem;
}

.FormsAndCard {
    position: relative;
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: -5%;
}

.Left {
    position: relative;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Right {
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cicle {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: var(--azul);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Cicle1 {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    border: 4px solid var(--azul);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--azul);
}

.Divider {
    position: relative;
    height: 10px;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 20px;
}

.Divider1 {
    position: relative;
    height: 10px;
    width: 15%;
    background-color: var(--azul);
    border-radius: 20px;
}

.formBox {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 6px 13px 10px -3px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Forms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.schemeBox {
    background-color: white;
    padding: 30px;
    height: 50%;
    width: 35%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
    box-shadow: 6px 13px 10px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.schemeBox p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.46);
}

.toSpaceInput {
    display: flex;
    gap: 50px;
}

.InputBox{
    width: 100%;
}

.InputBox input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: .5rem;
    outline: none;
    border: 0.5px solid rgb(99, 99, 99);
}

.InputBox label{
    font-size: 1rem;
}

.Btn {
    background-color: var(--btn);
    width: 100%;
    height: 20%;
    border: none;
    cursor: pointer;
    color: white;
    transition: .5s;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.Btn:hover {
    background-color: #43bf75;
}

.Inputs {
    width: 1000px;
}

.BoxTrial {
    position: relative;
    width: 100%;
    height: 18%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toSpaceBox {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.co2{
    display: none;
}

@media (max-width: 940px) {

    .BoxTitle{
        padding: 5% 0 0 15%;
    }

    .FormsAndCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Left{
        width: 80%; 
    }

    .Right {
        width: 80%;
        margin-top: 5%;
    }
    
    .formBox {
        flex-direction: column;
        overflow-y: auto;
    }
    .Forms {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
        
    }
    .toSpaceInput {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .Background {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .schemeBox {
        width: 80%;
        height: 50%;
    }
}

@media (max-width: 550px) {
    .Container {
        margin-top: 5%;
    }
    .Divider {
        visibility: hidden;
    }
    .Divider1 {
        visibility: hidden;
    }
    .FormsAndCard {
        width: 100%;
    }
    
}