
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--azul);
}

/* Outros estilos globais */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --amarelo: #FFDD41;
  --azul: #4e6fc9;
  --vermelho: #D92622;
  --background: #f1f1f1
}

.conteudo{
  width: 100%;
  max-width: 1400px;
  height: 700px;
  margin: auto;
  padding: 10px;
}

.background{
  background-color: var(--background);
}