
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

/* Outros estilos globais */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --amarelo: #FFDD41;
  --azul: #343BCC;
  --vermelho: #D92622

}

.conteudo{
  width: 100%;
  max-width: 1400px;
  height: 300px;
  margin: auto;
}
