.total {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 0.5px solid #00000021;
    border-radius: 10px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 6px 13px 10px -3px rgba(0,0,0,0.1);
}

.total_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.price {
    font-size: 25px;
}

.btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--btn);
    cursor: pointer;
    transition: 0.5s all;
}

.btn:hover {
    background-color: var(--btn_hover);

}

.texto_total {
    font-size: 30px;
}

.texto_co2 {
    font-size: 19px;
    font-weight: 550;
}

.co2 {
    color: var(--btn);
    font-size: 19px;
}

.container {
    width: 100%;
    height: 50px;
}

.container_1 {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.texto_produto {
    color: gray;
}

.price_produto {
    color: #000;
}

@media screen and (max-width: 925px) {
    .total {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 400px;
        background-color: #FFF;
        border: 0.5px solid #00000021;
        border-radius: 10px;
        padding: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (min-width : 926px) {

    @media screen and (max-width: 1300px){


}
}