.Background {
    width: 1000px;
    height: 1200px;
    /* background-color: var(--background); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Boxtext {
    position: relative;
    margin-top: 80px;
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8%;
}
.Subtitlebox {
    font-size: 1rem;
    font-family: ;
}

.title {
    font-size: 1.5rem;
}

.ProductsInfo {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.BackProducts {
    position: relative;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
}

.BoxLeft {
    position: relative;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box1 {
    position: relative;
    height: 50%;
    width: 85%;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #00000021;
}

.BoxRight {
    position: relative;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Box2 {
    position: relative;
    height: 70%;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #00000021;
}

.img_product {
    width: 80%;
    height: 80%;
}

.img_product_2 {
    width: 80%;
    height: 80%;
}

.BackInfo {
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BoxInfo {
    position: relative;
    width: 85%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.5px solid #00000021;
}

.InfoLeft {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.titulo_produto {
    font-size: 22px;
}


.sub_titulo_product {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.InfoRight {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BoxInfoProduct {
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.DateValue {
    position: relative;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.BoxdateValue {
    position: relative;
    height: 100%;
    width: 70%;
}

.BoxDesc {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Desc {
    position: relative;
    background-color: red;
    height: 70%;
    width: 100%;
    clip-path: polygon(5% 18%, 100% 4%, 97% 88%, 2% 94%);
    border-radius: 10px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
}

.BoxTextProduct {
    position: relative;
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(0, 0, 0, 0.497);
}

.BackValuesProduct {
    position: relative;
    width: 80%;
    height: 20%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3%;
    background-color: var(--btn);
    width: 80%;
    height: 20%;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s all;
}

#Btn_cart {
    margin-top: 1%;
    background-color: transparent;
    color: var(--btn);
    border: 1px solid var(--btn);
}

#Btn_cart:hover{
    background-color: var(--btn);
    color: #fff;
}

.Btn:hover {
    background-color: var(--btn_hover);
    transition: all 0.3s;
    cursor: pointer;
}

.Values {
    margin-left: -5%;
    background-color: white;
    width: 22%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#None {
    background-color: transparent;
}

.QtdBtn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px;
    padding-left: 30px;
}

/* Mobile responsive */

@media screen and (max-width: 925px) {
    .BackInfo {
        width: 100%;
    }

    .BoxInfo {
        width: 80%;
    }

    .BackProducts {
        width: 60%;
    }

    .BoxLeft {
        width: 50%;
    }

    .table_titles {
        display: none;
    }


    .item {
        border-top: 5px solid black;
    }

    .item td {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: none;
    }
}

/* Tablet responsive */

@media (max-width: 1100px) {
    .BackInfo {
        width: 100%;
    }

    .BoxInfo {
        width: 80%;
    }

    .BackProducts {
        width: 60%;
    }

    .BoxLeft {
        width: 50%;
    }

    .ProductsInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .Box1 {
        height: 80%;
        width: 80%;
    }

    .Box2 {
        height: 90%;
        width: 90%;
    }

    .BoxInfo {
        height: 200px;
    }

    .titulo_produto {
        font-size: 1rem;
    }

    .sub_titulo_product {
        margin-top: -8%;
        font-size: 0.8rem;
    }

    .Date {
        font-size: 0.8rem;
    }

    .BoxTextProduct h1 {
        font-size: 1rem;
    }
}

@media (max-width: 870px) {
    .ProductsInfo {
        margin-bottom: 10%;
    }
    .BackInfo {
        width: 100%;
    }

    .BoxInfo {
        width: 80%;
    }

    .BackProducts {
        width: 60%;
    }

    .BoxLeft {
        width: 50%;
    }

    .titulo_produto {
        font-size: 1rem;
    }

    .sub_titulo_product {
        margin-top: -8%;
        font-size: 0.8rem;
    }

    .Date {
        font-size: 0.8rem;
    }

    .BoxTextProduct h1 {
        font-size: 0.9rem;
    }

    .Values {
        font-size: 0.8rem;
    }

    .Desc {
        width: 200px;
        font-size: 0.8rem;
        padding: 5px;
    }

    .Value {
        font-size: 1.2rem;
    }
}

@media (max-width: 738px) {
    .BackInfo {
        width: 100%;
    }

    .BoxInfo {
        width: 80%;
    }

    .BackProducts {
        width: 60%;
    }

    .BoxLeft {
        width: 50%;
    }

    .titulo_produto {
        font-size: 1rem;
    }

    .sub_titulo_product {
        margin-top: -8%;
        font-size: 0.7rem;
    }

    .Date {
        font-size: 0.8rem;
    }

    .BoxTextProduct h1 {
        font-size: 0.7rem;
    }

    .Values {
        font-size: 0.7rem;
    }

    .Desc {
        width: 200px;
        font-size: 0.5rem;
        padding: 5px;
    }

    .Value {
        font-size: 1.2rem;
    }
}

@media (max-width: 638px) {
    .BackInfo {
        width: 100%;
    }

    .BoxInfo {
        width: 80%;
    }

    .BackProducts {
        width: 60%;
    }

    .BoxLeft {
        width: 50%;
    }

    .titulo_produto {
        font-size: 1rem;
    }

    .sub_titulo_product {
        margin-top: -8%;
        font-size: 0.7rem;
    }

    .Date {
        font-size: 0.8rem;
    }

    .BoxTextProduct h1 {
        font-size: 0.7rem;
    }

    .Values {
        font-size: 0.7rem;
    }

    .Desc {
        width: 200px;
        font-size: 0.5rem;
        padding: 5px;
        margin-left: 100%;
    }

    .Value {
        font-size: 1rem;
    }
}

@media (max-width: 460px) {
    .Boxtext {
        margin-top: 12%;
    }
    .InfoLeft {
        width: 80%;
    }
    .InfoRight {
        width: 80%;
    }
    .BoxInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .BackInfo {
        width: 100%;
    }

    .BackProducts {
        width: 60%;
    }

    .BoxLeft {
        width: 100%;
        display: none;
    }

    .Box1 {
        margin-right: 2%;
        width: 100%;
        height: 80%;
    }

    .Box2 {
        margin-left: 2%;
        width: 100%;
        height: 90%;
    }

    .BoxRight {
        width: 80%;
        margin: auto;
    }

    .titulo_produto {
        font-size: 1.2rem;
    }

    .sub_titulo_product {
        margin-top: -8%;
        font-size: 0.6rem;
    }

    .Date {
        font-size: 0.6rem;
    }

    .BoxTextProduct h1 {
        font-size: 0.7rem;
    }

    .Values {
        font-size: 0.6rem;
    }

    .Desc {
        width: 50px;
        height: 30px;
        font-size: 0.5rem;
        padding: 5px;
        margin-left: 10%;
    }

    .Value {
        font-size: 1rem;
    }

    .Btn {
        font-size: 0.8rem;
        width: 100%;
        margin-bottom: 2%;
    }
    .BackValuesProduct {
        height: 30%;
        width: 100%;
    }
}