.conteudo-login{
	background-image: url('/src/assets/img/fundo\ mercado.png');
	background-size: cover; /* A imagem cobrirá todo o fundo */
    background-repeat: no-repeat; /* A imagem não se repetirá */
    background-position: center center; /* A imagem ficará centralizada */

	
	
}
.container-login{
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 150px 0px 150px 0px;
}

/*Estilizando o fomrulario de Login*/
.forms-register{
	background-color:  white;
	width: 50%;
	height: 600px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	

}

label{
	font-size: 25px;
	
}

.forms-login{
	display: flex;
	flex-direction: column;
	gap: 8px;	

	height:  500px;
	width:  90%;
	

}


/*Estilizando os input*/
.forms-login input{
	width: 100%;
	height: 55px;

	border: 0.2px solid grey;
	border-radius: 10px;

	padding: 10px;
}

::-webkit-input-placeholder{
	font-size:  18px;

}
/* Estilizando o Botão*/
.forms-register button{
	margin-top: 15px;

	height: 60px;
	background-color: red;
	color: white;

	font-size: 22px;
	font-weight: bold;

	border-radius:  10px;
	border:  0px solid ;
}


/*Recuperação de senha*/
.recover-password{
	text-align: center;
	font-size: 18px;
}

.recover-password a{
	text-decoration: none;
}

/*Politica de privacidade*/
.privacy-policy{
	text-align: center;
	width:  90%;
}

/*Banner do lado direito*/
.banner-login{
	
	height: 600px;
	width: 50%;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:  25px;

	background-image: url('/src/assets/img/fundo_banner_login.png') ;
	background-size: cover; /* A imagem cobrirá todo o fundo */
    background-repeat: no-repeat; /* A imagem não se repetirá */
    background-position: center center; /* A imagem ficará centralizada */

	border-top-left-radius:  40px;
	border-bottom-left-radius:  40px;
}

.title-banner-login{
	color: white;
	font-size:  40px;
	text-align: center;

}

.banner-login p{
		font-size:  23px;
		text-align: center;

		color: white;
}

.banner-login button{
	background-color:  transparent;
	width:  250px;
	height:  50px;
	
	border-radius: 10px;


	color: white;
	border:  0.5px solid white;

	font-size: 20px;

	transition: all 0.4s;
}

.banner-login button:hover{
	background-color: white;
	color: black;

}