.background_login{
	width: 100%;
	background-image: url('/src/assets/img/fundo mercado.png');
	padding: 200px 0px 150px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-login{
	background-color: white;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    10% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.welcome-popup {
    position: fixed;
    top: 0px;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideDown 3s ease-in-out;
}




#error{
	color: var(--vermelho);
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
}

/*Estilizando o formulario de Login*/
.forms-register{
	background-color:  white;
	width: 50%;
	height: 600px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Title-login{
	font-size:  2rem;
}
.SubTitle-login{
	font-size: 1.3rem;
	font-weight: 500;
}
label{
	font-size: 25px;
}

.forms-login{
	display: flex;
	flex-direction: column;
	gap: 8px;	

	height:  500px;
	width:  90%;
}

/*Estilizando os input*/
.forms-login input{
	width: 100%;
	height: 55px;

	border: 0.2px solid grey;
	border-radius: 10px;

	padding: 10px;
	font-size: 18px;
}

::-webkit-input-placeholder{
	font-size:  18px;

}
/* Estilizando o Botão*/
.forms-register button{
	margin-top: 15px;
	width: 100%;
	height: 60px;
	background-color: var(--vermelho);
	color: white;
	cursor: pointer;

	font-size: 22px;
	font-weight: bold;

	border-radius:  10px;
	border:  0px solid ;
}

.register-client{
	display: none;
}

/*Recuperação de senha*/
.recover-password{
	text-align: center;
	font-size: 18px;
}

.recover-password a{
	color: var(--azul);
}

.recover-password a{
	text-decoration: none;
}

/*Politica de privacidade*/
.privacy-policy{
	text-align: center;
	width:  90%;
}

.privacy-policy a{
	color: var(--azul);
}







/*Banner do lado direito*/
.banner-login{
	
	height: 600px;
	width: 50%;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:  25px;

	background-image: url('/src/assets/img/fundo_banner_login.png') ;
	background-size: cover; /* A imagem cobrirá todo o fundo */
    background-repeat: no-repeat; /* A imagem não se repetirá */
    background-position: center center; /* A imagem ficará centralizada */

	border-top-left-radius:  40px;
	border-bottom-left-radius:  40px;
}

/*Titulo do banner lateral*/
.title-banner-login{
	color: white;
	font-size:  40px;
	text-align: center;
}

.text-banner p{
	font-size:  40px;
}
.banner-login p{
		font-size:  23px;
		text-align: center;

		color: white;
}

.banner-login button{
	background-color:  transparent;
	width:  250px;
	height:  50px;
	
	border-radius: 10px;


	color: white;
	border:  0.5px solid white;

	font-size: 20px;

	transition: all 0.4s;
}

.banner-login button:hover{
	background-color: white;
	color: black;

}





/* Responsivo TABLET's */

/*Responsivo IPAD, IPAD mini, */
@media screen and (max-width: 769px) and (max-height: 1025px){
	.container-login{
		width:  90%; 
		gap:  15px;
	}

	.Title-login{
		font-size: 22px;
		text-align: center;
	}

	.SubTitle-login{
		font-size: 15px;
		margin-bottom: 10px;
	}

	.forms-login{
		gap:  15px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 15px;
	}

	.title-banner-login{
		font-size: 35px;
	}

	.banner-login{
		gap:  30px;
	}
}

/* NEXUS 7*/
@media screen and (max-width: 600px) and (max-height: 960px){
	.container-login{
		width:  95%; 
		gap:  32px;
	}

	.Title-login{
		font-size: 22px;
	}

	.SubTitle-login{
		font-size:  14px;
		margin-bottom: 18px;
	}

	.forms-login{
		gap:  10px;
	}

	.forms-login input{
		height:  40px;
	}
	.forms-login label{
		font-size:  17px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 15px;
	}

	.title-banner-login{
		font-size: 30px;
	}
	.banner-login{
		gap:  35px;
	}
	.banner-login button{
		width:  170px;
	}
}

/*IPAD PRO, virado na horizontal */
@media screen and (min-width: 1024px) and (min-height: 1366px){
	.container-login{
		width:  90%; 
		gap:  32px;
		 
	}

	.Title-login{
		font-size: 35px;

	}

	.SubTitle-login{
		font-size:  20px;
		margin-bottom: 18px;
	}

	.forms-login{
		gap:  16px;
	}

	.forms-login input{
		height:  58px;
	}
	.forms-login label{
		font-size:  20px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 18px;
	}

	.title-banner-login{
		font-size: 30px;
	}
	.banner-login{
		gap:  35px;
	}
	.banner-login button{
		width:  170px;
	}
}

/*Fim do Responsivo de TABLET*/

/*Inicio do Responsivo de CELULAR*/

/*Iphone 15 pro*/
@media screen and (max-width: 393px) and (max-height:  852px){
	.container-login{
		width:  95%; 
		gap:  10px;
		height:  750px;
	}

	.Title-login{
		font-size: 28px;
	}

	.SubTitle-login{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.forms-register{
		width: 100%;
		height:  750px;
	}
	.forms-login{
		gap:  15px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 15px;
	}

	.title-banner-login{
		font-size: 35px;
	}

	.banner-login{
		display: none;
	}
	.register-client{
		display: block;
	}
}

/*Iphone 15 pro  max*/
@media screen and (max-width:  430px) and (max-height:  932px){
	.container-login{
		width:  95%; 
		height:  750px;
		gap:  10px;
	}

	.Title-login{
		font-size: 28px;
	}

	.SubTitle-login{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.forms-register{
		width: 100%;
		height:  750px;
	}
	.forms-login{
		gap:  15px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 15px;
	}

	.title-banner-login{
		font-size: 35px;
	}

	.banner-login{
		display: none;
	}
	.register-client{
		display: block;
	}
}

/*Pixel 7a*/
@media screen and (max-width: 427px) and (max-height:  950px){
	.container-login{
		width:  95%; 
		height:  750px;
		gap:  10px;
	}

	.Title-login{
		font-size: 28px;
	}

	.SubTitle-login{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.forms-register{
		width: 100%;
		height:  750px;
	}
	.forms-login{
		gap:  15px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 15px;
	}

	.title-banner-login{
		font-size: 35px;
	}

	.banner-login{
		display: none;
	}
	.register-client{
		display: block;
	}
}

/*Pixel 6 Pro*/
@media screen and (max-width: 480px) and (max-height:  1040px){
	.container-login{
		width:  95%; 
		height:  750px;
		gap:  10px;
	}

	.Title-login{
		font-size: 28px;
		
	}

	.SubTitle-login{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.forms-register{
		width: 100%;
		height:  750px;
	}
	.forms-login{
		gap:  15px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 15px;
	}

	.title-banner-login{
		font-size: 35px;
	}

	.banner-login{
		display: none;
	}
	.register-client{
		display: block;
	}
}

/*Galaxy TAB 7*/
@media screen and (max-width: 526px) and (max-height:  842px){
	.container-login{
		width:  95%; 
		height:  750px;
		gap:  10px;
	}

	.Title-login{
		font-size: 28px;
	}

	.SubTitle-login{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.forms-register{
		width: 100%;	
		height:  750px;	
	}
	.forms-login{
		gap:  15px;
	}

	.privacy-policy{
		font-size:  15px;
	}

	.recover-password{
		font-size: 15px;
	}

	.title-banner-login{
		font-size: 35px;
	}

	.banner-login{
		display: none;
	}
	.register-client{
		display: block;
	}
}