.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    color: #fff;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 94% 96%, 6% 95%);
    padding: 20px 40px;
    margin: 70px 50px;

}

.title h2{
    color: #fff;
    font-family: offer;
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: 100;
}